# Code Owners
*                                   @journeyoflife-org/devops

scripts/db/                         @journeyoflife-org/backend
scripts/kubernetes/                 @journeyoflife-org/devops
scripts/secrets/                    @journeyoflife-org/security
